body 
{
  font-family: Papyrus, fantasy;
  color: #AF7595;
  background-color: #F3F3F4;
}

a{ color: antiquewhite}
a:hover { color: brown}

header
{
  font-family: Georgia, serif;
  text-align: center;
  color: #3F2E56;
}


/* Color generator:
  https://coolors.co/d9c5b2-3f2e56-119da4-af7595-698996 
*/