header
{
  text-decoration: none;
  font-family: Bebas Neue, serif;
  text-align: center;
  color: #3F2E56;
}

body 
{
  text-decoration: none;
  font-family: Georgia, sans-serif;
  color: #AF7595;
  background-color: #F3F3F4;
}

footer
{
  text-decoration: none;
  font-family: Bebas Neue, serif;
  text-align: center;
  color: #AF7595;
}

a{ color: #AF7595; }
a:hover { color: #3F2E56; }

h2,h3 {
  text-align: center;
}

p span {
  display: block;
}

.center {
  margin-left: auto;
  margin-right: auto;
  /*width: 20em;*/
  text-align: center;
  list-style-position: inside;
}

p.indexcenter {
  margin-left: auto;
  margin-right: auto;
  width: 40em;
}

ul.a {
  list-style-type: none;
  list-style-position: outside;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.div1, .div2 {
  display: inline-block;
  text-align: center;
}

/* 
Helpful sources:

unlisted bullets
 https://www.w3schools.com/css/css_list.asp 

Color generator:
  https://coolors.co/d9c5b2-3f2e56-119da4-af7595-698996 
*/
